// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

body {
    background-image: linear-gradient(to bottom, rgba(53, 53, 53, 0.8) 0%, rgba(53, 53, 53, 0.8) 100%), url('./assets/img/background.jpg');
    background-size: cover;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#maincard {
    min-width: 80%;
    max-height: 90vh;

    @media (max-width: 768px) {
        border-radius: 0;
        height: 100%;
        max-height: 100%;
        width: 100%;
    }

}

.versiontag {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.5rem;
}

.credentialid {
    font-size: 0.6rem;
}

.scanqr {
    border: 1px solid #ced4da !important;
    border-right: none !important;
    color: #212529 !important;
}

.drop-area {
    height: 370px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    display: grid;
    background-color: rgba(0, 0, 0, 0);
}

.dragover {
    background-color: rgba(0, 0, 0, .1);
}

#backbutton {
    position: absolute;
    left: .2rem;
    top: .2rem;
}

#logo {
    position: absolute;
    right: .2rem;
    top: .2rem;
    height: calc(3.2rem + 1vw);
}

#productpassportimg {
    width: 100%;
}

.slide-fade-enter-active {
    transition: all 0.8s ease-in-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(30px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
    position: absolute;
}