name: Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: API Tests
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies and build gs1us package
        working-directory: ./api
        run: |
          npm ci
          cd node_modules/@gs1us/vc-verifier-rules
          npm run build || echo "Build failed or not needed"
          cd ../../

      - run: npm test
        working-directory: ./api
